.root {
    -fx-background-color: #1e1e2f;
}

.label {
    -fx-text-fill: black;
}

.label.title {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
}

.label.info {
    -fx-font-size: 14px;
    -fx-text-fill: #cccccc;
}

.button {
    -fx-background-color: #3b82f6;
    -fx-text-fill: black;
    -fx-font-size: 14.5px;
    -fx-padding: 10 35;
    -fx-background-radius: 10;
}

.button:hover {
    -fx-background-color: #2563eb;
    -fx-font-weight: bold;
}